
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0">Expelliarmus</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">
            Welcome to the Wizarding World.
          </h2>
          <a
            class="btn btn-primary js-scroll-trigger glow-on-hover welcomeBtn"
            data-toggle="modal"
            data-target="#myModal"
            id="openBtn"
            
            >Alohamora</a
          >
          <a class="btn btn-primary js-scroll-trigger glow-on-hover welcomeBtn"  href="signup"
            >Enroll in class</a
          >

          <!-- MODAl -->
          
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <h4 class="modal-title"></h4> -->
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-6 mx-auto">
                      <div class="myform form">
                        <form id="login-form" action="" method="post" name="login">
                          <div class="form-group">
                            <input
                              type="text"
                              name="name"
                              class="form-control my-input responsive-img"
                              id="name"
                              placeholder="Username"
                            />
                          </div>
                          <div class="form-group">


                            <!-- CHANGED ID TO PW -->
                            <input
                              type="password"
                              class="form-control my-input responsive-img"
                              id="pw"
                              placeholder="Password"
                            />
                          </div>

                          <!-- NEED TO ROUTE TO HARRYAPP -->
                          
                          <div class="text-center">
                            <a
                            
                            class="btn btn-primary"

                              id="login-form loginBtn"
                                
                              
                              >Go to class!</a
                            >
                          </div>
                         
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a
                    class="btn btn-primary"
                    data-dismiss="modal"
                    id="skipBtn"
                  >
                    Skip class?
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About-->
    <section class="about-section text-center" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Dueling 101</h2>
            <p>
              <h3>History of Magic</h3>
              A Wizard's duel was a formal practice in wizarding culture in which two or more wizards or witches engaged in combat under the condition that only magical means could be used. 
              
              <br>
              <h3>I challenge you to a duel!</h3>
              To begin, you and your opponent will face each other and when the "Attack" button is pressed, your avatar will then attempt to stun, hex your foe. 
              
              <br>
              <br>
              To defeat your opponent you must deplete their health to 0, thus winning the duel. If you lose the duel, you will be taken to the hospital wing to heal your wounds and wallow in the shame you've brought to your House. 

              
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer bg-black small text-center text-white-50">
      <div class="container">Gabriella Trujillo-Robnett | Brittanie Barrett | David Carmona | Aaron Howard</div>
    </footer>